<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    {#<link rel="stylesheet" href="http://phergie.org/wp-content/themes/blass2/style.css" type="text/css" media="screen" />#}
    <link rel="stylesheet" href="/{{ theme_path('css/style.css') }}" type="text/css" media="screen" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
    <meta property="og:title" content="Phergie is an open source IRC bot written in PHP" />
    <meta property="og:image" content="/{{ theme_path('PhergieSquareLogo.png') }}" />
</head>

<body>

<div ><a name='up' id='up'></a></div>

<div id="wrapper">
    <div id="header">
        <ul id="nav">
            <li class="page_item"><a href="/">Home</a></li>

            <li class="page_item page-item-142"><a href="/license">License</a></li>
            <li class="page_item page-item-5"><a href="/about">About</a></li>
            <li class="page_item page-item-52"><a href="/support">Support</a></li>
            <li class="page_item page-item-13"><a href="/users">Users</a></li>
            <li class="page_item page-item-40"><a href="/developers">Developers</a></li>
            <li class="page_item page-item-40"><a href="/plugins">Plugins</a></li>

        </ul>
        <p class="description">
            A PHP IRC Bot
        </p>

        <h1>
            <a href="/">
                <img src="/{{ theme_path("assets/logo.jpg") }}" alt="Phergie - logo by Jess Planck http://funroe.net" />
            </a>
        </h1>



    </div>

    <div id="sidebar">




        <h2>Links of Interest</h2>
        <ul class='xoxo blogroll'>
            <li><a href="https://github.com/phergie" rel="me" title="phergie &#8211; GitHub">GitHub</a></li>
            <li><a href="https://packagist.org/packages/phergie/" title="Packagist">Packagist</a></li>
            <li><a href="https://twitter.com/phergiebot" rel="me" title="Phergie IRC Bot (phergiebot) on Twitter">Twitter</a></li>

        </ul>
        <br />
        {% include 'recent_posts' %}
        <br />
        <div class="textwidget">
            <p>
                <a href="http://phpwomen.org" title="PHPWomen">
                    <img src="/{{ theme_path('assets/phpwomen.gif') }}" alt="PHPWomen: Strength in Unity">
                </a>
            </p>
            <p>Proud member of the<br />
                <a href="http://phpwomen.org/os-project-opportunities/" title="OS Project Opportunities &raquo; PHPWomen">PHPWomen Partnership Program</a></p></div>
        <br />
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <p>&copy; 2008-2015 Phergie Development Team | Logo contributed by <a href="http://funroe.net" title="Funroe &raquo; Funroe">Jess Planck</a> | Theme <a href="http://1000ff.de/wordpress-theme-blass-english-version/">Blass</a> by <a href="http://1000ff.de/">1000ff</a> | Powered by <a href="http://wordpress.org/">WordPress</a></p>
    </div>

</div>

</body>

</html>